* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body,html {
    padding: 0;
    margin: 0;

    color: white;
    background-color: #22272E;
}

a {
    color: #539BF5;
}

.contact {
    margin-top: 25px;

    display: flex;
    justify-content: center;
}


@media only screen and (max-width: 950px) {

}
